.appoinment-container{
    height: 50vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.671), rgba(0, 0, 0, 0.671)), url('https://user-images.githubusercontent.com/86189450/137676168-89f8cb57-e746-4eb1-8e54-08eb63bdd63a.jpg');
    position: relative;
}
.appoinment-btn{
    padding: 15px 25px !important;
    border-radius: 15px !important;
}
.appoinment-btn:hover{
    transform: scale(98.5%);
}